body {
    height: 800px;
    background-color:  #c0e0c0;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Orbitron', sans-serif;
}
h3 {

}
table {
    border: 2px solid black;
}
td {
    border: 1px solid black;
    width: 65px;
    text-align: center;
}
th {
    font-weight: bold;
}
tr {
    padding: 4px;
}
li a {
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    border-radius: 8px;
    margin-left: 11px;
    margin-right: 11px;
    background-color: #c0a0c0;
    color: white;
}
#navList li {
    margin-bottom: 15px;
    list-style-type: none;
    float:left;
}

#data {
    width: 60em;
    height: auto;
    margin: auto;
    background-color: #c0e0c0;
    clear: both;
    /*padding-top: 40px;*/

}

#pizzaId {
    width: 21em;
    margin: auto;
    float: left;
    background-color: #c0e0c0;
    /*padding-top: 40px;*/

}

#storeId {
    width: 38em;
    margin: auto;
    float: right;
    background-color: #c0e0c0;
    /*padding-top: 40px;*/
}
#indexContent {
    width: 60em;
    height: 400px;
    /*background-image: url("../images/pizza-tile2.jpg");*/
    /*background-repeat: repeat;*/
    margin: auto;
}



.locationInfo {
    float: left;
}
.imageClass {
    float: right;
}

.odd {
    background-color: #ffffff;
}
.even {
    background-color:  #c0e0c0;
}

header, footer, #data {
    font-family: Arial, sans-serif;
}
nav {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

header {
    margin-top: 10px;
    height: 120px;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer {
    margin-top: 10px;
    height: 120px;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*
* {
    border: 1px dashed red;
}*/
